
numpy==1.13.3
numpydoc==0.7.0
oauthlib==2.0.6
odo==0.5.1
olefile==0.44
packaging==16.8
pandas==0.20.3
pandocfilters==1.4.2
partd==0.3.8
path.py==10.3.1
pathlib2==2.3.0
patsy==0.4.1
pep8==1.7.0
pickleshare==0.7.4
Pillow==6.2.0
pkginfo==1.4.1
ply==3.10
progress==1.3
prompt-toolkit==1.0.15
protobuf==3.4.0
psutil==5.6.6
py==1.4.34
pycodestyle==2.3.1
pycosat==0.6.2
pycparser==2.18
pycurl==7.43.0
pyflakes==1.5.0
pygame==1.9.3
Pygments==2.2.0
pylint==1.7.2
pymongo==3.5.1
pyparsing==2.2.0
pyrtlsdr==0.2.7
pyserial==3.4
PySocks==1.6.7
pytest==3.2.1
python-dateutil==2.6.1
pytz==2017.2
PyWavelets==0.5.2
pywin32==221
pyzmq==16.0.2
ruamel-yaml==0.11.14
ruamel.yaml==0.15.0
scikit-image==0.13.0
scikit-learn==0.19.0
scipy==0.19.1
seaborn==0.8
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
spyder==3.2.3
statsmodels==0.8.0
sympy==1.1.1
tables==3.4.2
tblib==1.3.2
tensorflow==1.3.0
tensorflow-tensorboard==0.4.0rc2
testpath==0.3.1
tflearn==0.3.2
Theano==1.0.0
toolz==0.8.2
tornado==4.5.2
tqdm==4.19.4
traitlets==4.3.2
txaio==2.8.2
typing==3.6.2
unicodecsv==0.14.1
visvis==1.10.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.0.2
win-inet-pton==1.0.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.10.11
xlrd==1.1.0
xlwings==0.11.4
xlwt==1.3.0
zict==0.1.2
zope.interface==4.4.3
