{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %} <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/fm_template.css" {% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <h1>Análisis En banda FM</h1>

        <div class="container-custom-1">
            <div class="radio-inputs">
                <label class="radio">
                <input id="psd_radio" type="radio" name="radio" onclick="showTab('psd')" checked>
                <span class="name">PSD Model</span>
                </label>
                <label class="radio">
                <input id='cnn_radio' type="radio" name="radio"  onclick="showTab('cnn')">
                <span class="name">CNN Network</span>
                </label>
            </div>
        

            <section id="psd" class="tabContent">
                <form id="params_psd" class="form-custom-1">
                    <label> vars psd</label>
                    <div class="params_psd">
                        <label>PPM <input type="number" id="ppm" placeholder="texto_sugerencia" value="0"> </label>
                        <label>Start <input type="number" id="start" placeholder="texto_sugerencia" value="88000000"> </label>
                        <label>Stop <input type="number" id="stop" placeholder="texto_sugerencia" value="108000000"> </label><br>
                        <label>Step <input type="number" id="step" placeholder="texto_sugerencia" value="100000"> </label><br>
                        <label>lnb lo <input type="number" id="lnb_lo" placeholder="texto_sugerencia" value="125000000"> </label>
                        <label>Threshold <input type="number" id="threshold" placeholder="texto_sugerencia" value="0.15"> </label>
                        <label>City <input type="text" id="city" placeholder="texto_sugerencia" value="CALDAS"> </label>
                        <label>Gain <input type="number" id="gain" placeholder="texto_sugerencia" value="15"> </label>
                    </div>
                </form> 

                    <button class="btn btn-primary" id="psd" type="button" onclick="startPPM(this.id)">Start method psd</button>
                    <button class="btn btn-glow-primary" id="test" type="button" onclick="fm_response()"> fm_response</button>
                    <button class="btn btn-primary" id="psd" type="button" onclick="example()">example</button>
            
            </section>

            <section id="cnn" class="tabContent">
                <form id="params_cnn" class="params">
                    <label> vars cnn</label>
                    <div class="params_psd">
                        <label>PPM <input type="number" id="ppm" placeholder="texto_sugerencia" value="0"> </label>
                        <label>Start <input type="number" id="start" placeholder="texto_sugerencia" value="88000000"> </label>
                        <label>Stop <input type="number" id="stop" placeholder="texto_sugerencia" value="108000000"> </label><br>
                        <label>Step <input type="number" id="step" placeholder="texto_sugerencia" value="100000"> </label><br>
                        <label>lnb lo <input type="number" id="lnb_lo" placeholder="texto_sugerencia" value="125000000"> </label>
                        <label>Threshold <input type="number" id="threshold" placeholder="texto_sugerencia" value="0.15"> </label>
                        <label>City <input type="text" id="city" placeholder="texto_sugerencia" value="CALDAS"> </label>
                        <label>Gain <input type="number" id="gain" placeholder="texto_sugerencia" value="15"> </label>
                    </div>
                </form> 

                    <button class="btn btn-primary" id="cnn" type="button" onclick="startPPM(this.id)">Start method cnn</button>
                    
            </section>

        </div>

            <script>
            
            // Ocultar la sección 'cnn' al cargar la página
            document.addEventListener("DOMContentLoaded", function() {
                document.getElementById("cnn").style.display = "none";
                document.getElementById("psd_radio").checked = true;
            });

            function fm_response() {
                window.location.href = '/fm_response';
            }

            function example(){
                window.location.href = '/example'
            }


            function startPPM(id) {
                const form = document.getElementById('params_psd');
                const ppm = form.querySelector('#ppm').value;
                const start = form.querySelector('#start').value;
                const stop = form.querySelector('#stop').value;
                const step = form.querySelector('#step').value;
                const threshold = form.querySelector('#threshold').value;
                const lnb_lo = form.querySelector('#lnb_lo').value;
                const city = form.querySelector('#city').value;
                const gain = form.querySelector('#gain').value;
                const button = id;
            
            
                const PPMData = {
                    ppm: parseInt(ppm),
                    start: parseInt(start),
                    stop: parseInt(stop),
                    step: parseInt(step),
                    threshold: parseFloat(threshold),
                    lnb_lo: parseInt(lnb_lo),
                    city: city,
                    gain: parseFloat(gain),
                    button:button,
                };
                    
                fetch('/start_ppm', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(PPMData)
                })
                .then(response => {
                    console.log(response)
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('La solicitud POST falló');
                    }
                })
                .then(data => {
                    document.open();
                    document.write(data);
                    document.close();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
            </script>
        
        
          
          <div id="inProgress" class="tabContent">Contenido de In Progress...</div>
          
          <script>
          function showTab(tabId) {
            var tabs = document.getElementsByClassName('tabContent');
            for (var i = 0; i < tabs.length; i++) {
              tabs[i].style.display = 'none';
            }
            document.getElementById(tabId).style.display = 'block';
          }
          </script>   
            
      
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}